

/*===============================================================================================================================*/

/*CSS Rule: search bar border/font/margin/color*/
.search {
    margin: 3rem;
    background-color: transparent;
    border: 2px solid #508be2;
    color: #fff;
}
form.input.placeholder {
    color: #636364;
}
.search:focus {
    background-color: #508be2;
}

div.movieArea{
    display: flex;
    flex-wrap: wrap;
}

/*CSS Rule: movie item border/font/margin/color*/
.movieItem {
    background-color: #dcdde4;
    border-radius: 2px;
    box-shadow: 0 2px 2.5px rgba(31, 30, 30, 0.2);
    margin: 1rem;
    width: 265px;
}
.movieItem img {
    width: 100%;
}
.movieItemTitle {
    color: rgb(27, 27, 27);
    display: flex;
    text-align: center;
    justify-content: center;
}

/*CSS Rule: acordion color*/

.accordion {
    background-color: white !important;
}
.accordion-button{
    background-color: white;
    color: black;
}
.accordion-body{
    color: black;
    background-color:  rgb(240, 236, 236);
}

/*Have at least two CSS rules that update the style or layout of your screens when specific events occur.*/
/*CSS Rule: hover over text changes color*/
h2{
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    color: black;
}
h2:hover {
    color: red;
}
h3{
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    color: black;
}
h3:hover {
    color:red;
}
h4{
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    color: black;
}
h4:hover {
    color:red;
}
.navbar .navbar-nav .nav-link:hover{
    border-bottom: solid 2px red;
}

button:hover {
    border-bottom: solid 2px red;
}
img {
    -webkit-filter: brightness(100%);
    box-shadow: 0 4px 5px rgba(31, 30, 30, 0.2);

}
img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*CSS Rule: upvote, downvote*/



.media {
    justify-content: center;
    box-shadow: 0 2px 2.5px rgba(31, 30, 30, 0.2);
  }

/* CSS Rule: Footer*/

/*Set the copyright footer to float left. Create a copyright class and set the float property to be left. Add the copyright class to the <small> tag. */
.copyrightClass
{
    float: middle;
}

/* Create a primary-footer class to further specify the look-and-feel of the footer and set top and bottom padding. Then, add the class to the <footer>. */
.primaryFooter
{
    padding-top: 25px;
    padding-bottom: 25px;
    outline-color: black;
}


/*CSS Rule: Responsive Design*/
* {
    box-sizing: border-box;
} 

/* Responsive 2. Define column width. Typically, we want a responsive grid-view with 12 columns. Therefore, each column’s width is 100% / 12 = 8.33%. */

/*
.container {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 90%;
  justify-items: center;
}
*/

.row{
    width: 100%; 
    margin: 1em 0;
}

/*
.group:after {
    content: "";
    display: table;
    clear: both;
  }     
*/

[class*="col-"] {
    float: left;
    margin: 0 0 0 2%;
}


/* Repsonsive 3. */
@media only screen and (max-width: 768px) {
    /* For mobile phones and tablets: */
    [class*="col-"] {
        width: 100%;
    }
} 

@media only screen and (min-width: 768px) {
    .col-x {width: 16.4%;}

    .col-1 {width: 8.33%;}

    .col-2 {width: 16.66%;}

    .col-3 {width: 25%;}

    .col-4 {width: 33.33%; }

    .col-5 {width: 41.66%;}

    .col-6 {width: 50%;}

    .col-7 {width: 58.33%;}

    .col-8 {width: 66.66%;}

    .col-9 {width: 75%;}

    .col-10 {width: 83.33%;}

    .col-11 {width: 91.66%;}

    .col-12 {width: 100%;}

    [class*="col-"] {
        /*width: 100%;*/
        float: left;
        padding: 20px;
    }
} 


/* CSS Rule: background of page */
html { 
    background: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.movie-container{
    display: flex;
    text-align: center;
    justify-content: center;
  } 



.write-review-button{
    display: flex;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 25px;
    justify-content: space-between;
    
}
.review-posts{
    padding-left: 10px;
}
.seeReview-container{
    display: flex;
    text-align: left;
    justify-content: left;
    padding-top: 30px;
}
.Movie-Image-review{
    padding-top: 25px;
}
.reviews-header{
    padding-top: 20px;
}
.reviews{
    padding-left: 20px;
}
.upvoted-info{
    display: flex;
    justify-content: space-between;
}
.overflow-auto{
    padding-right: 20px;
}